<h3>Search Result</h3>  

    <% @results.each do |result| %>  
        <tr>
            <td><%= result.flavour %></td>
            <td><%= link_to 'Show', result %></td><br>
        </tr>
    <% end %>
